.journal-item {
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    background: rgba(255, 255, 255, 0.03);
}

.journal-item__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.journal-item__body {
    display: flex;
    gap: 10px;
}

.journal-item__date {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.40);
}

.journal-item__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.60);
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.journal-item__tag {
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.journal-item__tag::after {
    content: '';
    position: absolute;
    inset: -3px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.30);
    z-index: -1;
}