.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.input {
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #FFF;
    border-bottom: 1px solid #5f5f5f;
    transition: background .5s ease-in-out;
}

.journal-form__textarea {
    border: 1px solid #5f5f5f;
}

.journal-form__row {
    position: relative;
    display: flex;
    align-items: center;
}

.journal-form__img {
    margin-right: 20px;
}

.journal-form__delete {
    padding: 0;
    border: none;
    background: none;
    border-radius: 50%;
    font-size: 0;
    transition: background 0.3ms ease-in-out;
    cursor: pointer;
}

.journal-form__delete:hover {
    background: rgba(255, 255, 255, 0.05);
}

.journal-form__text {
    min-width: 100px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 0.60);
}

.invalid {
    border: 1px solid red;
    background: rgb(68, 13, 13);
}